<!-- create by shemeem -->
{% extends 'company/src/html/base.html' %}
{% block content %}
{% load static %}
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" /> -->
<style>
    ::-webkit-scrollbar{
        display: none
    }
    .bs{
        box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.397);
    }
    .amount_summary{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 1rem;
    }
    .amt_head_label label{
        font-size: 1rem;
        font-weight: 500;
    }
    .table>:not(caption)>*>* {
        padding: 16px 2px !important;
    }
    .form-control{
        padding: 8px 7px;
    }

    /* New Party Modal */
    .new_party_form .form-control {
        border: 2px solid #6c757d;
        transition: border-color 0.3s;
    }

    .new_party_form .form-control:focus {
        border-color: #007bff;
    }

    #toPayRadio {
        accent-color: red;
    }

    #toReceiveRadio {
        accent-color: green;
    }


    .switch {
        position: relative;
        display: inline-block;
        width: 38px;
        height: 22px;
    }

  
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 13px;
        width: 13px;
        left: 3px;
        bottom: 5px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.slider {
        background-color: #2196F3;
    }

    input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(18px);
    }


    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }

    .save-button {
        background-color: #007bff;
        border-color: #007bff; 
        color: #fff; 
        margin-right: 1rem;
    }

   
    .save-button:hover {
        background-color: #fff;
        color: #007bff;
    }

</style>
<div class="body-wrapper">
    <div class="container-fluid">
        <div class="row mb-4 mt-3">
            <div class="col-md-3"></div>
            <div class="col-md-6 d-flex justify-content-center">
                <a href="#" id="b1" class="btn text-white mx-2" style="background-color: rgb(252, 3, 3,0.7); border-radius: 20px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">Add Sale  <i class="fa fa-plus"></i></a>
                <a href="#" id="b2" class="btn text-white mx-2" style="background-color: rgba(3, 161, 252, 0.7); border-radius: 20px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">Add Purchase  <i class="fa fa-plus"></i></a>
                <a href="#" id="b3" class="btn text-primary mx-2" style="border-radius: 20px; border: 1px solid rgb(40, 12, 222);background-color: white;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">Add More  <i class="fa fa-plus"></i></a>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div style="background-color: rgba(0, 195, 255, 0.205);" class="p-3 pb-0 mb-0">
            <div class="row pb-0 mb-0">
                <div class="col text-center pb-2" style="border-bottom: 3px solid rgba(0, 0, 0, 0.548);"><a class="fw-bolder fs-4 text-dark" href="#">ESTIMATE/QUOTATION</a></div>
            </div>
        </div>
        <div class="row m-0 p-0 pt-3">
            <div class="col-sm-12 col-md-12 pt-1 d-flex justify-content-between">
                <div class="search_bar w-25">
                    <div class="position-relative">
                        <div class="position-absolute" style="margin-top:0.4rem;margin-left: 0.5rem;">
                            <span class="fa fa-search fs-5 text-info"></span>
                        </div>
                    </div>
                    <div class="d-flex">
                        <input id="search_input1" style="padding-inline-start: 2rem;" class="w-100 border-secondary text-dark pt-1 pb-1 pe-1 rounded" type="text" placeholder=" search here..">
                    </div>
                </div>
                <div class="option_btn"><button class="btn p-0 ps-2 pe-2 ms-2" type="button" onclick="exportToExcel()"><span><img width="22px" src="{% static 'assets/excel2.png' %}" alt="no img"></span></button></div>
            </div>
            <div class="mt-3" style="overflow: scroll;height: 31rem;">
                    <table id="myTable" class="table table-bordered table-info table-striped tb table-responsive w-100">
                        <thead>
                            <th>#</th>
                            <th class="text-uppercase text-center fs-2">Date<span class="fa fa-filter ps-1"></span></th>
                            <th class="text-uppercase text-center fs-2">Ref No.<span class="fa fa-filter ps-1"></span></th>
                            <th class="text-uppercase text-center fs-2">Name<span class="fa fa-filter ps-1"></span></th>
                            <th class="text-uppercase text-center fs-2">Total<span class="fa fa-filter ps-1"></span></th>
                            <th class="text-uppercase text-center fs-2">Balance<span class="fa fa-filter ps-1"></span></th>
                            <th class="text-uppercase text-center fs-2">Status<span class="fa fa-filter ps-1"></span></th>
                            <th class="text-uppercase text-center fs-2">Action</th>
                        </thead>
                        <tbody>
                            {% for i in estimates %}
                                <tr>
                                    
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            </div>
        </div>






    </div>
</div> 



{% endblock  %}
